@model Reminder.Models.RelationshipDetails

@{
    ViewBag.Title = "Details";
}

<h3>Relationship details</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RelatedUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelatedUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RelatedUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelatedUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HowRelated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HowRelated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Connected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Connected)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to my relationships", "Index")
</p>
