@model IEnumerable<Reminder.Models.RelationshipList>

@{
    ViewBag.Title = "Index";
}

<h2>My Relationships</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.HiddenFor(model => model.User)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RelatedUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HowRelated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Connected)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RelatedUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HowRelated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Connected)
        </td>
        <td>
            @Html.ActionLink("Update", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
