@model IEnumerable<Reminder.Models.RelationshipList>

@{
    ViewBag.Title = "Index";
}

<h2>My Relationships</h2>

<p>
    @Html.ActionLink("Create New Relationship", "Create", "Relationship", new { @class = "btn btn-primary" })
</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tr>
            <th class="danger">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="info">
                @Html.DisplayNameFor(model => model.RelatedUserId)
            </th>
            <th class="info">
                @Html.DisplayNameFor(model => model.RelatedUserName)
            </th>
            <th class="warning">
                @Html.DisplayNameFor(model => model.HowRelated)
            </th>
            <th class="success">
                @Html.DisplayNameFor(model => model.Connected)
            </th>
            <th class="danger">
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RelatedUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RelatedUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HowRelated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Connected)
                </td>
                <td>
                    @Html.ActionLink(" ", "Update", new { id = item.Id }, new { @class = "glyphicon glyphicon-edit" }) |
                    @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "glyphicon glyphicon-search" }) |
                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-remove" })
                </td>
            </tr>
        }
    </table>
</div>